* {
    font-family: Microsoft YaHei;
}

QWidget#ForgetPass
{
    background-color:#ffffff;
    border: 1px solid #cccccc;
    border-radius:4px;
}

QPushButton#btnFind{
	font-size:14px;
	background:rgb(7, 189, 253);
	color:#ffffff;
	border:none;
	border-radius:4px;
}

QPushButton#btnFind:hover, QPushButton#btnFind:pressed
{
	background:rgb(33, 200, 253);
}

QLineEdit#editEmployaccount{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}

QLineEdit#editEmployaccount:hover{
	background: #FFFFFF;
	border: 1px solid rgb(0, 161, 219);
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}

QLineEdit#editDepartID{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}

QLineEdit#editDepartID:hover{
	background: #FFFFFF;
	border: 1px solid rgb(0, 161, 219);
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}

QLineEdit#editPass{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}

QLineEdit#editPass:hover{
	background: #FFFFFF;
	border: 1px solid rgb(0, 161, 219);
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}
